# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Database
*.db
*.sqlite3
database.db

# OS junk
.DS_Store
Thumbs.db

# Uploads (optional)
static/uploads/

# VS Code
.vscode/


# Environment variables
# SECRET_KEY hostellink2026

# service ID: srv-d645sbnfte5s73fva76g

# url: https://hostellink.onrender.com