body {
font-family: 'Open Sans', sans-serif;
background: #FFFFFF;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.login-container, .forgotdiv, .reset-form {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    border-radius: 20px;
    border-color: #2563EB;

}

input {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border-color: #2563EB;
    border-width: 1px;
}   

h1 {
color: #111827;
font-family: 'Poppins', sans-serif;
}

h2{
    color:#1E4ED8;
    font-family: 'Poppins', sans-serif;
}

button {
background: #2563EB;
color: white;
border: none;
padding: 10px;
width: 50%;
margin-top: 15px;
}

.error {
color: #DC2626;
}

.forgot-password, .back-to-login {
    text-align: left;
    font-size: small;
    color:#2563EB;
    text-decoration: none;
    padding: 10px;
}

.forgot-password:hover {
    text-decoration: underline;
} 
